#background-color in code like this only applies to the selected element e.g. h1

body {
    color: darkgrey;
}

* {
    background-color: papayawhip;
}

img {
    justify-content: center;
    align-items: center;
}